<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department" thread-count="6">

	<listeners>
		<listener class-name="test.Listeners" />
	</listeners>

	<test thread-count="5" name="Personal Loan">
		<parameter name="URL" value="PersonalLoan.com" />
		<parameter name="KEY" value="123456">
		</parameter>



		<classes>
			<class name="test.day1">
				<methods>
					<include name="Demo" />
				</methods>
			</class>
			<class name="test.day2" />
			<class name="test.day4">
				<methods>
					<exclude name="mobile.*" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Car Loan">
		<parameter name="URL" value="CarLoan.com" />
		<classes>
			<class name="test.day3">
				<methods>
					<exclude name="mobile.*" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
